*.png linguist-detectable=false
*.jpg linguist-detectable=false
*.txt linguist-detectable=false
*.html linguist-detectable=false
*.properties linguist-detectable=false
*.bat linguist-detectable=false
*.ctrl linguist-detectable=false
*.dat linguist-detectable=false
*.properties linguist-detectable=false
